.App-content {
  padding: 4em 1em 1em 1em;
  background-color: $bg-color;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
}
