.search-form {
  display: flex;
  align-items: center;
  height: 2.4em;
  & input {
    height: 2.4em;
    padding-left: 0.75em;
  }
  & button {
    padding: 0.25em 0.5em;
    margin-left: 0.5em;
    height: 2.4em;
    & span {
      transform: translateY(2px);
    }
  }
}
